.catalog {
  padding: 50px 40px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  gap: 46px 48px;

  @media (min-width: 1199px) {
    padding: 50px 128px;
  }

  @include mq-sm {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq-md {
    grid-template-columns: repeat(3, 1fr);
  }

  @include mq-lg {
    grid-template-columns: repeat(4, 1fr);
  }
}
